<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493801210955-djc88r8496brtmvltrkuif045qfuco0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493801210955-djc88r8496brtmvltrkuif045qfuco0p</string>
	<key>API_KEY</key>
	<string>AIzaSyBDO-ZN9TZZeZ21NwS-ah2DAgzNyk2xDgM</string>
	<key>GCM_SENDER_ID</key>
	<string>493801210955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pestDetection</string>
	<key>PROJECT_ID</key>
	<string>pest-detection-59c57</string>
	<key>STORAGE_BUCKET</key>
	<string>pest-detection-59c57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493801210955:ios:ec321708690f40a83a39ce</string>
</dict>
</plist>